{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Accueil
{% endblock %}
 
{% block PwebMain_body %}
   <a href="#" class="btn btn-mini"><i class="icon-font"></i> Tri alphabétique</a>
<a href="#" class="btn btn-mini"><i class="icon-arrow-up"></i> Prix croissant</a>
<a href="#" class="btn btn-mini"><i class="icon-arrow-down"></i> Prix décroissant</a>
  <h1>Liste des 15 derniers produits</h1>
<br></br>
  <ul>
    {% for produit in produit %}
      <li>
        <a href="{{ path('PwebMain_voir', {'id': produit.id}) }}">{{ produit.libelle }}</a>
        disponible à partir de <strong>{{ produit.prix }} €</strong> seulement.<br></br>
          <a href="{{ path('PwebMain_voir', {'id': produit.id}) }}">
    <p align="center"><img src="{{ produit.photo }}" width="200" height="200" alt="Produit" align="center"/></p>
    </a>
      </li>
      
    {% else %}
      <li>Il n'y a pas encore de produits disponibles.</li>
    {% endfor %}
  </ul>
 
{% endblock %}