{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Modifier le statut d’une commande
{% endblock %}
 
{% block PwebMain_body %}
 
  <h2>Gérer les commandes et les statuts</h2>
<br></br>
    <TABLE BORDER="0"> 
  <TR> 
 <TH>  </TH> 
 <TH align="center"> Nom de l'acheteur </TH> 
 <TH align="center"> Produits commandés </TH> 
 <TH align="center"> Valider</TH> 
 <TH align="center"> Envoyer</TH> 
 <TH align="center"> Statut</TH> 
 <TH align="center"> Supprimer la commande</TH> 
  </TR> 
      <TR> 
 <TH align="center"> Id </TH> 
 <TD>  </TD> 
 <TD>  </TD> 
 <TD>  </TD> 
 <TD> </TD> 
  </TR> 
  {% for commande in liste_commandes %}
    <TR> 
 <TH> {{ commande.id }} </TH> 
 <TD align="center"> {{ commande.idacheteur }} </TD> 
 <TD align="center"> <a href="#" class="btn btn-inverse btn-small"><i class="icon-white icon-shopping-cart"></i> Panier</a> </TD> 
 <TD align="center"><a href="#" class="btn btn-info btn-small"><i class="icon-white icon-ok"></i> Validée</a></TD> 
 <TD align="center"><a href="#" class="btn btn-success btn-small"><i class="icon-white icon-road"></i> Envoyée</a></TD> 
 <TD align="center"> {{ commande.statut }} </TD> 
 <TD align="center"> <a href="#" class="btn btn-danger btn-small"><i class="icon-white icon-warning-sign"></i> Supprimer</a></TD> 
 
    </TR> 
  {% endfor %}
</TABLE> 


<br></br>
  <center>
  <a href="{{ path('PwebMain_accueil') }}" class="btn btn-inverse btn-large"><i class="icon-white icon-home"></i> Retour à l'accueil</a>
  <a href="#" class="btn btn-success btn-large"><i class="icon-white icon-plus"></i> Ajouter des commandes de test</a>
  <a href="{{ path('PwebMain_initialiseclear') }}" class="btn btn-danger btn-large"><i class="icon-white icon-flag"></i> Tout Supprimer</a>
  </center>
{% endblock %}