{# src/Pweb/MainBundle/Resources/views/Main/modifier.html.twig #}
 
{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Supprimer le produit
{% endblock %}
 
{% block PwebMain_body %}
 
  <h2>Désirez vous supprimer ce produit ?</h2>
       <br></br>
    <a href="{{ produit.photo }}">
    <p align="center"><img src="{{ produit.photo }}" width="330" height="330" alt="Produit" align="center"/></p>
    </a>
    <center><h3>{{ produit.libelle }}</h3></center>
<br></br>
<p>Votre stock pèsera <strong>{{ produit.poids }} grammes</strong> en moins.</p>
<p>Êtes vous sùr de vouloir vous délester de ce produit ?</p>
  <br></br>
  
  
  
  

  {# On met l'id de l'article dans la route de l'action du formulaire #}
  <center>
  <form action="{{ path('PwebMain_supprimer', {'id': produit.id}) }}" method="post">
    <a href="{{ path('PwebMain_voir', {'id': produit.id}) }}" class="btn btn-inverse btn-small">
      <i class="icon-chevron-left"></i>
      Retour au produit
    </a>
    <input type="submit" value=" Confirmer la suppression" class="btn btn-danger btn-large" />
    {{ form_rest(form) }}
  </form>
  </center>
{% endblock %}